<div id="comment-header">
  <h3>Hey there, <%= current_user.username %>!</h3>
</div>

<%= bootstrap_form_for [@post, @comment], remote: true do |f| %>
  <%= f.text_area :comment_content, label: "Add your comment" %>
  <%= f.submit "Add comment", class: "btn btn-success" %>
<% end %>
