<div id="best_of">
  <h1>Best of Portland</h1>

  <p>This feature uses AJAX functionality to automatically load content without reloading the page. Check out some of my favorite things about Portland. Sign in and add your favorites, too.</p>

  <% if current_user %>
    <%= link_to "Add a recommendation", new_recommendation_path, id: "new_recommendation_link", class: "btn btn-success", remote: true %>
  <% else %>
    <p><%= link_to "Sign in to add a recommendation", new_user_session_path %></p>
  <% end %>

  <h3>Recommendations</h3>
  <div id="recommendations">
    <% if @recommendations.any? %>
      <%= render(@recommendations) %>
    <% end %>
  </div>


  <%= link_to "Close", skills_path, id: "close_recommendation_link", class: "btn btn-success", remote: true %>
