
  <div id="blended">
  </div>

<div id="home-page">
  <div class="container">

    <div class="row">
      <div id="header">
        <h1>Web Developer, Problem Solver, Creative Thinker.</h1>
        <br><br>

        <div id="welcome-box">
          <p>I'm a newly-minted web developer and long-term writer combining my skills as a focused and analytical problem-solver with my skills as a passionate creative type.</p>
          <p>Need help writing creative content or catchy tag lines on the front end? I can help with that. More focused on back-end problem-solving and TDD? I can offer that, too.</p>
        </div>
      </div>


      <% @skills.each do |skill| %>
        <div class="col-md-3">
          <div class="all-skills">
            <h4 id="centered"><%= link_to skill.skill_name, skill_path(skill), id:"skill-header" %></h4>
            <%= link_to image_tag(skill.skill_icon), skill_path(skill) %>
          </div>
        </div>
      <% end %>
    </div>
    <br><br>
    <% if current_user && current_user.admin? %>
      <h3 class="centered"><%= link_to "Add skill", new_skill_path %></h3>
    <% end %>
    <div class="centered">

      <p>Click on the button below to see AJAX functionality at work.</p>
      <p><%= link_to "Best of Portland", recommendations_path, id: "best_of_link", class: "btn btn-success", remote: true %></p>
      <br><br>

    </div>
  </div>
</div>
