<div class="container">
  <div class="row">
    <div id="header">
      <h1>Franz Knupfer</h1>
      <h3>Web Dev, Problem Solver, Creative Thinker</h3>
    </div>


    <% @skills.each do |skill| %>
      <div class="col-md-3">
        <div class="all-skills">
          <h4 id="centered"><%= link_to skill.skill_name, skill_path(skill) %></h4>
          <%= link_to image_tag(skill.skill_icon), skill_path(skill) %>
        </div>
      </div>
    <% end %>
  </div>
  <br><br>
  <% if current_user && current_user.admin? %>
    <h3 class="centered"><%= link_to "Add skill", new_skill_path %></h3>
  <% end %>
  <div class="centered">
    <h5>Franz Knupfer</h5>
    <h5>3942 SE 29th Avenue</h5>
    <h5>Portland, OR 97202</h5>
    <h5>franzknupfer [at] hotmail.com</h5>
</div>
