<h1>Edit Project</h1>

<%= render 'form' %>

<p><%= link_to "Delete this project", skill_project_path(@skill, @project),
:data => {:confirm => "Are you sure you want to delete this project?",
:method => "delete"} %></p>
