<h1>Blog</h1>

<% if @posts.any? %>
  <% @posts.each do |post| %>
    <%= link_to post.post_title, post_path(post) %>
    <%= image_tag post.attached_image.url(:medium) %>
  <% end %>
<% end %>

<%= link_to "New post", new_post_path %>
