/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets"
@import "bootstrap"

@media (min-width: 768px)

.navbar-default
  background-color: #74AFAD
  padding: 20px

.navbar-default .navbar-brand
  color: white
  font-family: arial
  font-size: 200%

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus
  color: #D9853B

.navbar-nav
  width: 100%

.navbar-nav > li
  float: none
  display: inline-block

.navbar-nav > li.navbar-right
  float: right !important
  padding-right: 15px

.navbar-default .navbar-nav > li
  color: white

#welcome-box
  margin-left: 200px
  margin-right: 200px
  padding: 5px
  border-color: #D9853B
  border-radius: 5px

h1
  text-align: center
  color: #D9853B

h2
  color: #D9853B

h3
  color: #D9853B

a
  color: #558C89

body
  padding: 25px

#header
  text-align: center
  padding: 50px

.icon
  width: 100px

.all-skills
  height: 200px
  width: 200px
  text-align: center
  overflow: hidden

.all-skills img
  width: 60%
  margin: 1em 2% .2em 2%

.centered
  text-align: center

.profile
  text-align: center

.profile img
  width: 200px
