/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets"
@import "bootstrap"

@font-face
  font-family: "Aventura-Bold"
  src: font-url('assets/Aventura-Bold.otf') format("truetype")

@media (min-width: 768px)

.navbar-default
  background-color: #74AFAD
  padding: 20px
  .navbar-brand
    color: white
    font-family: Open Sans
    font-size: 200%

#nav-element
  color: white
  font-family: Open Sans
  font-size: 125%
  &:hover
    color: #D9853B

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus
  color: #D9853B

.navbar-nav
  width: 100%

.navbar-nav > li
  float: none
  display: inline-block

.navbar-nav > li.navbar-right
  float: right !important
  padding-right: 15px

.navbar-default .navbar-nav > li
  color: white

footer
  padding-top: 10px
  margin-top: 45px
  color: #D9853B
  small
    float: left
    font-family: roboto slab
  ul
    float: right
    list-style: none
    font-size: 14px
    font-family: roboto slab
  ul li
    float: left
    margin-left: 15px

#welcome-box
  margin-left: 200px
  margin-right: 200px
  padding: 20px
  padding-left: 40px
  padding-right: 40px
  border-color: #D9853B
  border-radius: 5px
  background-color: #74AFAD
  color: white

#skill-header
  font-size: 18px
  font-family: Roboto Slab
  &:hover
    color: #D9853B

p
  font-family: Open Sans
  font-size: 18px

h1
  font-family: Roboto Slab
  font-size: 36px
  text-align: center
  color: #D9853B

h2
  color: #D9853B

h3
  color: #D9853B

a
  color: #558C89

body
  padding: 25px

#header
  text-align: center
  padding: 50px

.icon
  width: 100px

.all-skills
  height: 200px
  width: 200px
  text-align: center
  overflow: hidden
  img
    width: 60%
    margin: 1em 2% .2em 2%

.centered
  text-align: center

.profile
  text-align: center
  img
    width: 200px
