<div class="bio">
  <h1>About Me</h1>

  <p>I'm a graduate of the Epicodus coding school in Portland, Oregon, where I focused on Ruby, JavaScript, Ruby on Rails and Ember. I also have experience with html, css/sass, AJAX and sinatra.</p>

  <p>I use a wide range of Rails gems from devise and bcrypt (for authentication) to rspec, capybara and phantomjs (for testing).</p>

  <p>I received my B.A. from the University of Iowa and my M.F.A. from Johns Hopkins University, and I also spent a year in Nepal on a Fulbright grant.</p>

  <p>My background is in writing and my work has been published in blogs, literary magazines, and other publications. To see a sampling of my creative work, check out franzknupfer.github.io.</p>

  <p>I live in Portland, Oregon, with my wife, baby son, and two cats. You can contact me at franzknupfer[at]hotmail.com.</p>
</div>
