<div class="padding">
  <div id="bio">

    <%= image_tag("FranzProfilePic.JPG", id: "bio-pic", alt: 'Picture of me with baby son Leo.') %>

    <p>I'm a graduate of the Epicodus coding school in Portland, Oregon, where I learned Ruby, JavaScript, Ruby on Rails and Ember. I also have experience with html, css/sass, AJAX and sinatra. I use a wide range of Rails gems from devise and bcrypt (for authentication) to rspec, capybara and phantomjs (for testing). To see more of my code, check out my <a href="http://github.com/franzknupfer">Github</a>.</p>

    <p>I received my B.A. from the University of Iowa and my M.F.A. from Johns Hopkins University, and I also spent a year in Nepal on a Fulbright grant. My writing has been published in blogs, literary magazines, and other publications. To see more of my creative work, check out <a href="http://franzknupfer.github.io/">franzknupfer.github.io</a>.</p>

    <p>I live in Portland, Oregon, with my wife, baby son, and two cats.</p>
  </div>
</div>
